@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply w-full px-4 py-2 mt-4 tracking-wide text-white transition-colors duration-200 transform bg-teal-500 hover:bg-teal-600 dark:bg-teal-800 dark:hover:bg-teal-900 rounded-md focus:outline-none focus:bg-teal-800 text-center;
  }
  .input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }
  .checkbox {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
  }
  .checkbox-label {
    @apply ml-2 text-sm font-medium text-gray-900 dark:text-gray-300;
  }
  .form-label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }
  .form-bg {
    @apply w-11/12 p-6 m-auto dark:bg-zinc-800 bg-white border-t-4 border-teal-500 dark:border-teal-800 rounded-md shadow-md sm:max-w-md;
  }
  .btn-offer-type {
    @apply bg-teal-500 hover:bg-teal-400 dark:bg-teal-800 border-2 border-teal-500 dark:border-teal-900 dark:hover:bg-teal-900 dark:text-white text-black font-bold rounded-full transition-all duration-200 ease-in-out px-4 py-2 lg:px-10 lg:py-2 w-full lg:w-auto whitespace-nowrap;
  }
  .popup-item {
    @apply block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-light text-neutral-700 hover:bg-neutral-200 active:text-neutral-800 active:no-underline dark:text-neutral-200 dark:hover:bg-neutral-600 cursor-pointer;
  }
  .form-label-filter {
    @apply block mb-2 text-sm font-medium;
  }
  .checkbox-label-filter {
    @apply ml-2 text-sm font-medium;
  }
  .paginate-buttons {
    @apply bg-transparent hover:bg-teal-400 border-2 border-teal-400 dark:border-teal-900 dark:hover:bg-teal-900 dark:text-white text-black font-bold rounded-full transition-all duration-200 ease-in-out;
  }
  .active-page {
    @apply bg-teal-500 text-white dark:bg-teal-800;
  }
}
